extends page.pug

//- Display a link with chosen state.
mixin switch(text, href, chosen)
  if chosen
    span.current #{text}
  else
    a(href=href) #{text}

mixin item(dir, node)
  li
    h3
      a(href=`${dir}/${node.id}.html`) #{node.name}
    if node.description
      != ' ' + imarkdown(firstline(node.description))

block content
  h1 Docs Index
  #index
    .column.guide
      h2 Guides
      ul
        each guide in guides
          +item('guide', guide)

    .column.api
      .column
        h2 Components
        ul
          each api in apis.filter(a => [ 'class', 'refcounted' ].includes(a.type.type) && !a.type.name.endsWith('Event'))
            +item('api', api)

      .column
        h2 Structures
        ul
          each api in apis.filter(a => [ 'geometry', 'struct', 'enum', 'enum class' ].includes(a.type.type) || a.type.name.endsWith('Event'))
            +item('api', api)

block sidebar
  h4 Version:
  span.current #{version}
