doctype html
html
  head
    title #{doc.name} - #{project}
    meta(charset="utf-8")
    style
      include:css-minimize style.css
      include:css-minimize markdown.css
      include:css-minimize highlight.css
      if page == 'api' || page == 'index'
        include:css-minimize api.css
      else if page == 'guide'
        include:css-minimize guide.css
  body
    #header
      if page == 'api' || page == 'guide'
        - var docslink = "../index.html"
      else
        - var docslink = "index.html"
      a.project-title(href=`${docslink}`) #{project}
      span.logo #{logo}
      .nav
        a(href=`${docslink}`) Docs
        a(href="/") Versions
        a(href=`https://github.com/${repo}`) GitHub
    #container
      #content.markdown-body
        block content
      #sidebar.markdown-body
        block sidebar
    #footer
      p Documentations are published under public domain.
